language: python
python:
  - "3.9"
services:
  - docker
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.cache/pre-commit
before_install:
  - pip install awscli
  - export PATH=$PATH:$HOME/.local/bin
install:
  - pip install tox
script:
  - tox
before_deploy:
  - if [ ! -d deploy_scripts ]; then git clone https://github.com/RockefellerArchiveCenter/deploy_scripts.git; fi
  - docker build -t ${DOCKER_REPO} .
  - bash deploy_scripts/containers/push_image_to_ecr.sh
deploy:
  provider: script
  script: bash deploy_scripts/containers/deploy_image_lambda.sh
  on:
    branch: base
notifications:
  email: false
